# .env
DJANGO_SECRET_KEY='django-secure-key-wakawakabibidibabidibooooooo'
DJANGO_DEBUG=TRUE
# DEV or PROD
ENVIRONMENT=DEV

# for postgres DB:
DB_ENGINE='django.db.backends.postgresql'
DB_NAME='name-of-your-db'
DB_SCHEMA='schema-name'
DB_USER='-db-user'
DB_PASSWORD='db-pword'
DB_HOST='http://url-to-your-db'
DB_PORT= '5432' # Postgres default port