{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'misas:nuevo_templo' %}" method="POST">
        {% csrf_token %} 
        {{ form.as_p }}
        <!-- <fieldset>
            <legend><h1>Nuevo Templo</h1></legend>
            {% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}
            <input type="textbox" name="nombre_templo" id="txt_nombre">
            <label for="txt_nombre">Nombre del Templo:</label><br>
            <input type="textbox" name="direccion_templo" id="txt_direccion">
            <label for="txt_direccion">Direccion:</label>
            <input type="textbox" name="alias_templo" id="txt_alias">
            <label for="txt_alias">Otro nombre reconocido:</label>
        </fieldset> -->
        <input type="submit" value="Guardar">
    </form>
{% endblock %}