<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templo - {{ templo.nombre }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Brand /Logo -->
            <a class="navbar-brand" href="{% url 'misas:index' %}">Catolicomm</a>

            <!-- Mobile hamburguer Button -->
            <button class="navbar-toggler" tyoe="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aira-label="Toggle nvigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible menu links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-curret="page" href="#">Inicio</a>
                    </li>
                    <!-- Other elements in <li> tags -->
                </ul>
            </div>
        </div>
    </nav>


    <h1>{{ templo.nombre }}</h1>

    {% for tipo_servicio, horario in templo.get_servicios.items %}
    <h2>{{ tipo_servicio }}</h2>
            {% for dia_servicios, horas in horario.items %}
            <ul>
                <li>{{ dia_servicios }} - {{ horas }}</li>
            </ul>
            {% endfor %}
    {% endfor %}

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>

</body>

</html>